* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: rgb(0, 0, 0);
  --color-nav-primary: rgb(199, 0, 0);
  --color-nav-secondary: rgb(199, 0, 0);
  --color-white: rgb(255, 255, 255);
  --br-sm-2: 14px;
}

body {
  background-color: var(--color-white);
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  color: var(--color-primary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 6%;
}

.site-header .navbar {
  position: fixed;
  top: 1%;
  width: 60%;
  min-height: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-header .navbar .navlink:hover {
  color: var(--color-nav-secondary);
}

.site-header .navbar .active-btn {
  color: var(--color-nav-primary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-header .navbar .navlink {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: .5;
      -ms-flex-positive: .5;
          flex-grow: .5;
  padding-right: 1.5%;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.site-header .navbar .header-name {
  padding-left: 1.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 2.5rem;
  font-style: italic;
  font-family: 'IBM Plex Serif', serif;
}

.site-header .navbar .pic-head {
  display: none;
  padding-right: .5rem;
}

.site-header .header-rule1 {
  width: 58.5%;
  position: relative;
  height: .05rem;
  background-color: black;
  top: 80%;
  border: 0;
}

.site-header .alt-nav {
  width: 60%;
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 42.5%;
  padding-left: .5rem;
  padding-right: .5rem;
}

.site-header .alt-nav .navlink {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
}

.site-header .alt-nav .navlink:hover {
  color: var(--color-nav-secondary);
}

.site-header .header-rule2 {
  display: none;
  width: 58.5%;
  position: relative;
  height: .05rem;
  background-color: black;
  top: 50%;
  border: 0;
}

.contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  min-height: 80vh;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 8%;
  bottom: 10%;
  overflow-y: auto;
  padding: 1rem;
  font-size: 1rem;
}

.section {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section .sec-head {
  color: var(--color-nav-primary);
}

.section .site-description {
  font-weight: bold;
  font-style: italic;
}

.sec1 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec1 .left-float {
  float: left;
  margin-right: 20px;
}

.sec2 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec3 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec4 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec5 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec5 .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec5 .contact-form .sender-info {
  width: 30%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
}

.sec5 .contact-form .msg-subject {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
}

.sec5 .contact-form .contact-text {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
}

.sec5 .contact-form .contact-btn {
  width: 15%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05em;
}

.sec6 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sec7 {
  display: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.active {
  display: block;
  -webkit-animation: scaleAnim .4s ease-in-out;
          animation: scaleAnim .4s ease-in-out;
}

.site-footer {
  width: 100%;
  top: 95%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-footer .footer-infos {
  padding: none;
  position: fixed;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-footer .footer-infos .navlink:hover {
  color: var(--color-nav-secondary);
}

.site-footer .footer-infos .active-btn {
  color: var(--color-nav-primary);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.site-footer .footer-infos .navlink {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  padding: 1rem;
}

.site-footer .footer-infos .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  width: 30%;
}

.site-footer .footer-infos .social-icons a {
  color: black;
}

.site-footer .footer-infos .social-icons a:focus {
  color: black;
}

.site-footer .footer-infos .social-icons a:hover {
  color: var(--color-nav-primary);
}

.site-footer .footer-infos .social-icons a:active {
  color: var(--color-nav-primary);
}

.site-footer .footer-infos .nav-7 {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.view-blocker {
  width: 1;
  height: 100vh;
  color: grey;
  display: block;
}

@media (max-width: 1500px) {
  .site-header .navbar {
    width: 70%;
  }
  .site-header .navbar .header-name {
    -webkit-box-flex: .5;
        -ms-flex-positive: .5;
            flex-grow: .5;
    font-size: 2.25rem;
  }
  .site-header .header-rule1 {
    width: 68.5%;
    top: 80%;
  }
  section {
    width: 70%;
  }
  body {
    font-size: 1rem;
  }
  .site-footer .footer-infos {
    width: 70%;
  }
}

@media (max-width: 1279px) {
  .site-header .navbar {
    width: 80%;
  }
  .site-header .navbar .header-name {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    font-size: 2rem;
  }
  .site-header .header-rule1 {
    width: 78%;
    top: 75%;
  }
  section {
    width: 80%;
  }
  .sec5 .contact-form .sender-info {
    width: 40%;
  }
  .sec5 .contact-form .msg-subject {
    width: 80%;
  }
  .sec5 .contact-form .contact-text {
    width: 80%;
  }
  .sec5 .contact-form .contact-btn {
    width: 30%;
  }
  .site-footer .footer-infos {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .site-header .navbar {
    width: 90%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .site-header .navbar .header-name {
    font-size: 1.5rem;
    padding: .5rem;
  }
  .site-header .navbar .navlink {
    font-size: .8rem;
  }
  .site-header .header-rule1 {
    width: 88%;
    top: 70%;
  }
  section {
    width: 90%;
    padding: .5rem;
    font-size: .8rem;
  }
  .sec5 .contact-form .sender-info {
    width: 50%;
    font-size: .8rem;
  }
  .sec5 .contact-form .msg-subject {
    width: 80%;
    font-size: .8rem;
  }
  .sec5 .contact-form .contact-text {
    width: 80%;
    font-size: .8rem;
  }
  .sec5 .contact-form .contact-btn {
    width: 30%;
    font-size: .8rem;
  }
  .site-footer {
    font-size: .8rem;
  }
  .site-footer .footer-infos {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .site-header {
    height: 10%;
  }
  .site-header .navbar {
    width: 90%;
    height: 6%;
    top: .1%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header .navbar .header-name {
    font-size: 2rem;
    padding: .5rem;
  }
  .site-header .navbar .navlink {
    display: none;
  }
  .site-header .navbar .pic-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-header .header-rule1 {
    width: 88%;
    top: 35%;
  }
  .site-header .alt-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
  }
  .site-header .header-rule2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 88%;
  }
  .sec5 .contact-form .sender-info {
    width: 70%;
    font-size: .7rem;
  }
  .sec5 .contact-form .msg-subject {
    width: 100%;
    font-size: .7rem;
  }
  .sec5 .contact-form .contact-text {
    width: 100%;
    font-size: .7rem;
  }
  .sec5 .contact-form .contact-btn {
    width: 40%;
    font-size: .7rem;
  }
  section {
    width: 90%;
    padding: .5rem;
    top: 10%;
    font-size: .7rem;
    min-height: 20vh;
  }
  .sec1 .left-float {
    display: none;
  }
  .site-footer {
    font-size: .7rem;
    top: 97%;
  }
  .site-footer .footer-infos {
    width: 90%;
  }
  .site-footer .footer-infos .social-icons {
    padding: .5rem;
  }
  .site-footer .footer-infos .navlink {
    padding: .5rem;
  }
}

@media (max-height: 500px) {
  .site-header {
    height: 16%;
  }
  .site-header .navbar {
    top: .1%;
    width: 90%;
  }
  .site-header .navbar .header-name {
    font-size: 1.25rem;
    padding-left: .625rem;
  }
  .site-header .navbar .navlink {
    font-size: .7rem;
    padding-right: .75rem;
  }
  .site-header .header-rule1 {
    top: 17.5%;
    width: 88%;
  }
  .sec5 .contact-form .sender-info {
    width: 70%;
    font-size: .7rem;
  }
  .sec5 .contact-form .msg-subject {
    width: 100%;
    font-size: .7rem;
  }
  .sec5 .contact-form .contact-text {
    width: 100%;
    font-size: .7rem;
  }
  .sec5 .contact-form .contact-btn {
    width: 40%;
    font-size: .7rem;
  }
  section {
    width: 90%;
    padding-left: .625rem;
    padding-right: .625rem;
    top: 19%;
    font-size: .7rem;
    min-height: 5vh;
  }
  .site-footer {
    font-size: .7rem;
    top: 96%;
  }
  .site-footer .footer-infos {
    width: 90%;
  }
  .site-footer .footer-infos .social-icons {
    padding: .75rem;
  }
  .site-footer .footer-infos .navlink {
    padding: .75rem;
  }
}

.login-page-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.login-page-wrapper .login-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
  height: 5%;
}

.login-page-wrapper .login-menu .log-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.login-page-wrapper .login-menu .log-form .login-item input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}
/*# sourceMappingURL=styles.css.map */